.menu {
   list-style-type: none;
}

a {
  text-decoration: none;
    font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #7d7d7d;
  list-style-type: none;
}
.photos {
  list-style-type: none;
}

.menu a:hover {
  color: #03a9f4;
}
h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #b4ad9e;
}
h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height */

  color: #626262;
}
p {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #626262;
}
button {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: rgb(0, 0, 0);

  width: 165px;
  height: 60px;
  display: block;
  

  border: 1px solid #626262;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 60px;

  
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px ;
  padding-top: 70px;
  width: 555px;
  margin: 0 auto;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  margin-right: 60px;
    margin-left: 60px;
  
}
.vibe {
  width: 420px;
  height: 516px;
  margin-bottom: 130px;

  
}